html,
html body
{
  width: 100%;
  height: 100%;
  @media @tablets, @smartphones
  {
    overflow-x: hidden;
  }
}

sup
{
  top: -5px;
  font-size: 12px;
  position: relative;
}

#main-content
{
  width: 100%;
}
#main-content section
{
  width: @content-width;
  padding: 0 @padding-border @padding-height-bloc @padding-border;
}
#main-content section.grey-bg
{
  background-color: @grey;
}
#main-content > section > h1,
#main-content > section > p
{
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 50%;
  text-align: center;
  @media @smartphones
  {
    width: 90%;
  }
}
#main-content > section > p > img
{
  width: 100%;
  margin: 2rem 0;
}
#main-content div.parallax
{
  width: 100%;
  display: flex;
}
#main-content div.parallax > div
{
  flex: auto;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

button
{
  width: 30%;
  display: block;
  margin: -6rem auto @padding-height-bloc auto;
  padding: 0.5rem 2rem;
  color: @red;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
  border: 2px solid @red;
  cursor: pointer;
  @media @smartphones{
    width: 70%;
  }
}
a button.download-pdf
{
  width: 45%;
  margin: 3rem auto @padding-height-bloc auto;
}

// UTILITY CLASS WIDTH

.w25
{
  width: calc(25% - @total-padding-border);
  @media @tablets{
    width: calc(50% - @total-padding-border);
  }
  @media @smartphones{
    width: calc(100% - @total-padding-border);
  }
}
.w50
{
  width: calc(50% - @total-padding-border);
  @media @tablets, @smartphones{
    width: calc(100% - @total-padding-border);
  }
}
.w100
{
  width: calc(100% - @total-padding-border);
}

#scrollTop
{
  display: none;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  background-color: @red;
  padding: 0.8rem 1rem;
  position: fixed;
  opacity: 0.6;
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
}

@media @smartphones
{
  #slider
  {
    height: 100%;
  }
}