div.wpcf7
{
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
  width: 50%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  @media @smartphones
  {
    width: 90%;
  }
}
form.wpcf7-form
{
  display: block;
  width: 100%;
}
form.wpcf7-form > div.group-input-end
{
  width: 100%;
  padding: 10px 0;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
}
form.wpcf7-form > div.group-input
{
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid @red;
}
form.wpcf7-form > div.group-input > label
{
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
  display: inline-block;
  width: 15%;
  @media @smartphones
  {
    width: 25%;
  }
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip
{
  position: absolute;
  right: 0;
  top: 0;
}
form.wpcf7-form > div.group-input.text-area > span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip
{
  top: -1rem;
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap
{
  display: inline-block;
  width: 85%;
  @media @smartphones
  {
    width: 75%;
  }
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap.message
{
  width: 100%;
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap > input,
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap > textarea
{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
  color: @red;
}
form.wpcf7-form > div.group-input-end > input
{
  float: right;
  padding: 0.5rem 2rem;
  color: @red;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: @form-font-size;
  border: 2px solid @red;
  cursor: pointer;
}
form.wpcf7-form .wpcf7-response-output
{
  margin: 2rem 0 0 0;
}
div.wpcf7-mail-sent-ok
{
  color: #398f14;
}
div.wpcf7-validation-errors
{
  border: 2px solid @red;
}
span.wpcf7-not-valid-tip
{
  color: @red;
}