html,
html body,
a, p
{
  font-family: 'Gilda Display';
  font-size: @base-font-size;
  color: @red;
  text-decoration: none;
}

p
{
  margin-bottom: 1rem;
}

a
{
  cursor: pointer;
}

h1
{
  font-family: 'Gilda Display';
  font-size: @h1-title-font-size;
  color: @red;
  text-align: center;
  padding-top: @padding-height-bloc;
  .mixin-under-title-icon();
}

h2
{
  font-family: 'Gilda Display';
  font-size: @h2-title-font-size;
  color: @red;
  text-align: center;
  padding-top: @padding-height-bloc;
  padding-bottom: 1.5rem;
  font-weight: 300;
}
h2.sub-title-icon
{
  font-weight: normal;
  font-size: @h1-title-font-size;
  padding-bottom: 0;
  padding-top: 0;
  .mixin-under-title-icon();
}
h2.sub-title-other-product
{
  font-weight: normal;
  font-size: @h1-title-font-size;
  padding-bottom: @padding-height-bloc;
  padding-top: 1rem;
  margin: 0;
  &:after
  {
    display: none;
  }
}
h2.footer-element
{
  margin-top: 0;
  line-height: 10rem;
  font-size: 53px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  @media @smartphones
  {
    font-size: 40px;
  }
}

a.link
{
  display: block;
  font-family: 'OpenSans Light', sans-serif;
  font-size: @quick-link-font-size;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem auto 0 auto;
  color: @black;
  .mixin-border-link-center(0,@black);
}

.label,
.type-ref,
p.type-ref,
span.label,
p.label,
span.type-ref
{
  font-family: 'OpenSans Light';
  font-size: @type-ref-font-size;
  text-transform: uppercase;
  letter-spacing: 1px;
  //color: @red;
}

.ref,
p.ref,
span.ref
{
  font-family: 'Gilda Display';
  font-size: 12px;
  color: @red;
}

.price,
#main-content .price,
#main-content section.products article p.price
{
  font-size: 20px;
  font-family: 'Abril Fatface';
  font-weight: 300;
}