#event,
#favorite,
#coordinated
{
  display: flex;
  width: 100%;
  @media @tablets, @smartphones
  {
    flex-wrap: wrap;

  }
}

#event > div,
#favorite > div,
#coordinated > div
{
  width: 50%;
  padding: 0 @padding-border;
  background-color: @grey;
  &:last-child section
  {
    .mixin-vertical-align(relative);
    height: 90%;
    border: 2px solid rgba(0,0,0,0.3);
    @media @tablets, @smartphones
    {
      top: 0;
      transform: none;
    }
  }
  &:last-child h2,
  &:last-child p
  {
    text-align: center;
  }
  @media @tablets, @smartphones
  {
    width: 100%;
    max-width: 100%;
    &:last-child
    {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
html body #coordinated > div:last-child > section
{
  height: auto !important;
}
#coordinated > div > section h2.footer-element
{
  margin-top: 0;
}
#favorite > div > section
{
  &:before
  {
    top: -15px;
    left: 48%;
    margin: 0 auto;
    content: '';
    background: @red url('images/small_noir_transparent-01.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    @media @smartphones
    {
      left: 46%;
    }
  }
}
#event > div > section
{
  &:before
  {
    top: -15px;
    left: 50%;
    content: '';
    background: @red url('images/small_noir_transparent-02.svg') no-repeat;
    background-position: center;
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    transform: scale(-50%);
  }
}
#coordinated > div
{
  &:last-child section
  {
    border: none;
  }
}
#event > div,
#favorite > div
{
  &:first-child
  {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
  &:last-child
  {
    background-color: @red;
  }
  &:last-child h2,
  &:last-child p
  {
    color: #fff;
    text-align: center;
  }
}
#event > div:first-child,
#coordinated > div:first-child
{
  order: 2;
  background-size: cover;
}
#event > div:last-child,
#coordinated > div:last-child
{
  order: 1;
}
#favorite > div > section > p,
#event > div > section > p
{
  width: 70%;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
}
#favorite > div > section > p.title,
#event > div > section > p.title
{
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  @media @smartphones
  {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}
#favorite > div > section > p.description,
#event > div > section > p.description
{
  font-size: 1rem;
  margin-bottom: 2rem;
  @media @smartphones
  {
    margin-bottom: 0.8rem;
  }
}

#favorite > div > section > p.price
{
  font-family: 'Abril Fatface';
  font-size: 1rem;
  font-weight: bold;
}
#favorite > div > section > p.price > span-label
{
  font-family: 'OpenSans Light', sans-serif;
}

#event > div > section > p.date
{
  font-size: 1rem;
  font-weight: bold;
}

#favorite > div > section > p.price > span.label,
#event > div > section > p.date > span.label
{
  font-weight: 300;
}

#favorite > div > section > a,
#event > div > section > a
{
  color: #fff;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 3rem;
  .mixin-border-link-center(0,#fff);
  @media @tablets, @smartphones
  {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    position: static !important;
  }
}

#coordinated h2
{
  margin-top: 12rem;
  line-height: 3rem;
  .mixin-under-title-icon();
}

footer
{
  background-color: @red;
}
html body footer,
html body footer p,
html body footer span,
html body footer a
{
  color: #fff;
}
footer > div
{
  width: @content-width;
  padding: 0 @padding-border;
  display: block;
  color: #fff;
  &:first-child
  {
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  &:last-child,
  &:last-child a
  {
    font-weight: 300;
    color: rgba(255,255,255,0.5);
    font-size: 11px;
    font-family: 'OpenSans Light', sans-serif;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0,0,0,0.3);
  }
  &:last-child a
  {
    background-color: transparent;
  }
}
  footer > div > div > p.label
  {
    margin-bottom: 1rem;
  }
  footer > div > div > p
  {
    font-size: @ref-font-size;
    @media @tablets, @smartphones
    {
      text-align: center;
    }
  }
  footer > div > div > ul,
  footer > div > div > ul > li,
  footer > div > div > ul > li > a
  {
    font-size: @quick-link-font-size;
    list-style: none;
    line-height: 1.2rem;
    @media @tablets, @smartphones
    {
      text-align: center;
    }
  }
  footer > div > div > ul > li > a:hover
  {
    color: rgba(0,0,0,0.5);
  }
  footer > div:first-child > div
  {
    flex: auto;
    width: 20%;
    @media @tablets, @smartphones
    {
      width: 100%;
    }
  }
    footer > div:first-child > div > img
    {
      display: block;
      width: 15%;
      max-width: 15%;
      @media @tablets, @smartphones
      {
        width: 10%;
        max-width: 10%;
        text-align: center;
        margin: 0 auto 10px auto;
      }
    }

  footer .logo-txt
  {
    color: #fff;
    font-size: 2rem;
    line-height: 2rem;
  }
    footer .logo-txt > span
    {
      font-size: 0.7rem;
      line-height: 0.7rem;
      display: block;
    }

footer > div > div > ul > li > a > .fa
{
  font-size: 1.2rem;
}

@media @tablets, @smartphones
{
  footer > div > div > ul
  {
    margin-bottom: 1rem;
  }
  footer > div > div .fa
  {
    font-size: 2rem;
  }
}