#spacer-nav
{
  width: 100%;
  display: block;
  height: 0px;
}
header
{
  width: @content-width;
  padding: 0.2rem @padding-border;
  background-color: @red;
  position: relative;
  z-index: 200;
}

header > a
{
  display: inline-block;
  max-height: 60px;
}

header > a > img
{
  max-height: 60px;
  @media @tablets, @smartphones
  {
    max-height: 40px;
    padding: 5px 0;
  }
}

header > nav
{
  width: 70%;
  float: right;
  line-height: 60px;
  display: inline-block;
  @media @tablets, @smartphones
  {
    height: 50px;
  }
}
header > nav > i
{
  .mixin-vertical-align(relative);
  display: none !important;
  float: right;
  color: #fff;
  font-size: 2rem;
  font-family: FontAwesome;
  cursor: pointer;
  @media @tablets, @smartphones
  {
    display: block !important;
  }
}
header > nav > ul
{
  width: 100%;
  list-style: none;
  text-align: right;
  @media @tablets, @smartphones
  {
    width: 100%;
    top: 60px;
    right: 0;
    display: none;
    position: absolute;
    background-color: @rgba-red;
  }
}
header > nav > ul > li
{
  display: inline-block;
  text-align: right;
  margin-right: 2rem;
  &:last-child
  {
    margin-right: 0;
  }
  .mixin-border-link(-15px,0,2rem);
  @media @tablets, @smartphones
  {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #fff;
    .mixin-border-link(0,0,0);
    &:last-child{
      border-bottom: none;
    }
  }
}

header > nav > ul > li > a
{
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  @media @tablets, @smartphones
  {
    width: 100%;
    height: 100%;
    display: block;
  }
}

div.sub-header
{
  display: flex;
  z-index: 500;
  width: @content-width;
  background-color: @grey;
  padding: 0 @padding-border;
  border-bottom: 2px solid #fff;
}
    div.sub-header .breadcrumb
    {
      width: 100%;
      list-style: none;
      @media @smartphones
      {
        display: none;
      }
    }
    .showroom div.sub-header .breadcrumb
    {
      width: 40%;
      @media @smartphones
      {
        display: block;
        visibility: hidden;
      }
    }
      div.sub-header .breadcrumb > li
      {
        color: @black;
        display: inline-block;
        &:after
        {
          content: '/';
          padding: 0 0 0 5px;
          display: inline-block;
        }
        &:last-child
        {
          font-weight: bold;
          &:after
          {
            content: '';
          }
        }
      }

        div.sub-header .breadcrumb > li > a
        {
          color: @black;
          font-family: 'OpenSans Regular', sans-serif;
          text-transform: uppercase;
          font-size: @type-ref-font-size;
          line-height: 2rem;
        }


    div.sub-header > .product-categories
    {
      right: 0;
      min-width: 30%;
      position: absolute;
      @media @tablets
      {
        min-width: 60%;
      }
    }
      div.sub-header > .product-categories > span
      {
        display: block;
        float: right;
        width: 90%;
        @media @smartphones
        {
          width: 100%;
          float: none;
        }
      }
      div.sub-header > .product-categories > span > span
      {
        display: inline-block;
        font-family: 'OpenSans Light';
        font-size: @type-ref-font-size;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1rem;
        @media @smartphones
        {
          display: none;
        }

      }
      div.sub-header > .product-categories > span > select
      {
        min-width: 55%;
        max-width: 70%;
        display: inline-block;
        border: none;
        color: @red;
        .mixin-border-radius(0,0,0,0);
        font-size: @quick-link-font-size;
        background-color: transparent;
        border-bottom: 1px solid @red;
        font-family: 'Gilda Display', Serif;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: relative;
        z-index: 3;
        &::-ms-expand{
          display: none;
        }
        @media @smartphones
        {
          max-width: 95%;
        }
      }
      div.sub-header > .product-categories > span > select:focus,
      div.sub-header > .product-categories > span > select:hover
      {
        box-shadow: none;
        border: none;
        outline: none;
      }
      div.sub-header > .product-categories > span > select > option {
        padding: 5px 10px;
        box-shadow: none;
        border: none;
      }
      div.sub-header > .product-categories > span > i
      {
        right: 20px;
        z-index: 2;
        position: relative;
        font-size: 11px;
        color: @red;
      }