#homeslider
{
  width: 100%;
  height: 70%;
  position: relative;
  background-color: @grey;
}

#homeslider .col-slider
{
  z-index: 100;
  position: absolute;
  width: 30%;
  height: 100%;
  color: #fff;
  padding: 0 @padding-border;
  background-color: @rgba-red;
  @media @tablets, @smartphones
  {
    display: none;
  }
}
  #homeslider .col-slider .logo-txt
  {
    color: #fff;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 40%;
  }
    #homeslider .col-slider .logo-txt > span
    {
      font-size: 1rem;
      line-height: 1rem;
      display: block;
    }
  #homeslider .col-slider section
  {
    position: relative;
    margin-bottom: 2%;
    /*height: 40%;
    overflow: hidden;*/
  }
  #homeslider .col-slider .slideTXT
  {
    top: -50px;
    left: 0;
    opacity: 0;
    color: #fff;
    position: absolute;
    font-size: 2.5rem;
    line-height: 3rem;
    &:first-child
    {
      opacity: 1;
    }
  }
    #homeslider .col-slider .slideTXT p
    {
      color: #fff;
      font-size: 2.5rem;
    }
    #homeslider .col-slider .slideTXT a
    {
      font-family: 'OpenSans Light', sans-serif;
      color: #fff;
      font-size: @quick-link-font-size;
      line-height: @quick-link-font-size;
      text-decoration: none;
      text-transform: uppercase;
      .mixin-border-link(0px,2rem,3rem);
    }
#homeslider > div.slide
{
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}