#main-content section.content.homepage
{
  background-color: @grey;
  padding-bottom: @padding-height-bloc;
  text-align: center;
}
#main-content section.content.homepage h1,
#main-content section.content.homepage p
{
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 700px;
}