section.icon-title > h2
{
  &:before
  {
    content: '';
    display: block;
    height: 70px;
    margin: 0 auto 20px;
    width: 132px;
  }
}

section.icon-01 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_01.svg') no-repeat;
  }
}
section.icon-02 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_02.svg') no-repeat;
  }
}
section.icon-03 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_03.svg') no-repeat;
  }
}
section.icon-04 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_04.svg') no-repeat;
  }
}
section.icon-05 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_05.svg') no-repeat;
  }
}
section.icon-06 > h2
{
  &:before
  {
    background: transparent url('images/comment_acheter_06.svg') no-repeat;
  }
}