#slider
{
  width: 100%;
  height: 50%;
  position: relative;
  background-color: @grey;
}
  #slider > div.slide_page
  {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
  }