#main-content section.product
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
}

#main-content section.product > div
{

  flex: auto;
  padding: @padding-border;
  @media @smartphones
  {
    width: 100%;
  }

}
  #main-content section.product > div > span > h1,
  #main-content section.product > div > h2
  {
    padding: 0;
  }
  #main-content section.product > div > span > p
  {
    width: 90%;
    margin: 0 auto 1.5rem auto;
    display: block;
    text-align: center;
  }
  #main-content section.product > div > h2
  {
    padding-top: 22%;
    padding-bottom: 4%;
    font-weight: 300;

    &:after
    {
      content: '';
      width: 15px;
      height: 15px;
      display: block;
      background: transparent url('images/small_meo20170504-02.svg') no-repeat;
      background-size: 15px;
      margin: 0 auto;
      margin-top: 4%;
    }
  }
  #main-content section.product > div > p
  {
    text-align: center;
    margin-bottom: 0.4rem;
  }

#main-content section.product > div.reference
{
  background-color: @red;
}
  #main-content section.product > div.reference > h2,
  #main-content section.product > div.reference > p,
  #main-content section.product > div.reference > span
  {
    color: #fff;
    text-align: center;
  }

#main-content section.product > div.reference > h2
{
  &:after
  {
    display: none;
  }
}

#main-content section.product > div.reference > p
{
  &:last-child
  {
    font-weight: bold;
  }
  &:last-child .label
  {
    font-weight: 300;
  }
}

#main-content section.product > div#product_slider
{
  background-color: @rgba-grey;
  position: relative;
}
  #main-content section.product > div#product_slider > img
  {
    top: 0;
    left: @total-padding-border;
    width: 94%;
    height: 100%;
    display: block;
    position: absolute;
  }
  #main-content section.product > div#product_slider > span.btn-next
  {
    right: 2rem;
  }
  #main-content section.product > div#product_slider > span.btn-previous
  {
    left: 2rem;
  }
  #main-content section.product > div#product_slider > span.btn-next,
  #main-content section.product > div#product_slider > span.btn-previous
  {
    z-index: 1100;
    cursor: pointer;
    font-size: 3rem;
    .mixin-vertical-align(absolute);
  }

  #main-content section.product > div .size_comment
  {
    position: relative;
    &:hover span.comment
    {
      display: block;
    }
  }
    #main-content section.product > div .size_comment > p
    {
      text-align: center;
      cursor: pointer;
      padding-top: 10px;
      text-decoration: underline;
    }
    #main-content section.product > div .size_comment > span.comment
    {
      top: 1.5rem;
      right: 0;
      width: 250px;
      display: none;
      position: absolute;
      text-align: left;
      background-color: #fff;
      border: 1px solid @grey;
      padding: 15px 10px 0 10px;
    }

  #main-content section.product > div img
  {
    width: 100%;
  }
    #main-content section.product > div > span
    {
      display: block;
      .mixin-vertical-align(relative);
    }

#main-content section.product > div.w100 > h2.sub-title-other-product
{
  margin: 0;
  padding: 0;
  padding-top: @padding-height-bloc;
  &:after
  {
    display: none;
  }
}
#main-content section.product > div.w100 > aside > section.products
{
  padding-top: 3rem;
}
#main-content section.product > div.contact
{
  background-color: @grey;
}
  #main-content section.product > div.contact p
  {
    width: 50%;
    margin: 0 auto;
    display: block;
    max-width: 700px;
    text-align: center;
  }
  #main-content section.product > div.contact > .wpcf7
  {
    width: 100%;
    .mixin-vertical-align(relative);
    @media @tablets, @smartphones
    {
      top: 0;
      transform: none;
    }
  }

@media @tablets, @smartphones
{
  /*#main-content section.product > div.w50:first-child > span
  {
    top: 0;
    transform: none;
  }*/
  #main-content section.product > div.contact
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-content section.product > div.contact > span
  {
    top: 0;
    transform: none;
  }
}