#main-content section.products
{
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: @padding-height-bloc;
}
#main-content section.products article
{
  width: 15%;
  max-width: 15%;
  flex: auto;
  margin: 0 2% 3rem 2%;
  padding: 1rem 3%;
  background-color: @grey;
  &:hover img
  {
    opacity: 0.8;
  }
  @media @tablets
  {
    width: 40%;
    max-width: 40%;
  }
  @media @smartphones
  {
    width: 96%;
    max-width: 96%;
  }
}
  #main-content section.products article img
  {
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  #main-content section.products article a.product_title
  {
    display: block;
    height: 4.5rem;
    max-height: 4.5rem;
    font-size: @product-title !important;
  }

  #main-content section.products article a.link
  {
    margin: 3rem 0 1rem 0;
  }

  #main-content section.products article p
  {
    font-family: 'Gilda Display', Serif;
    font-size: 14px !important;
  }

  #main-content section.products article p.price
  {
    font-size: 24px !important;
  }