{% extends 'templates/layouts/default-layouts.html.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
{% endblock %}

{% block content %}
    <section class="content homepage">
        <h1>{{ post.post_title }}</h1>
        <p>{{ function('do_shortcode',post.post_content) }}</p>
    </section>
    <h2>Les nouveautés</h2>
    <a class="link" href="{{ options.home }}/showroom" alt="showroom">
        Voir notre catalogue complet
    </a>
    <section class="products">

        {% for product in products %}

            <article>

                <a href="{{ product.guid }}" title="{{ product.post_title }}">
                    {% if product.image_featured_url is not empty %}
                        <img src="{{ product.image_featured_url }}" alt="">
                    {% else %}
                        <img src="{{ options.home }}/wp/wp-content/uploads/2017/05/No-image.png" alt="">
                    {% endif %}
                </a>

                <a class="product_title" href="{{ product.guid }}" title="{{ product.post_title }}">
                    {{ product.post_title }}
                </a>

                <p><span class="label">DATE</span> {{ product.date }}</p>

                <p><span class="label">ORIGINE</span> {{ product.origine }}</p>

                <p class="price">{{ product.price }}</p>

                <a class="link" href="{{ product.guid }}" title="{{ product.post_title }}">
                    Voir en détail
                </a>

            </article>

        {% endfor %}

    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){

            var $slides = $("#homeslider .slide");
            var $slidesTXT = $("#homeslider .col-slider .slideTXT");
            var currentSlide = 0;
            var stayTime = 6;
            var slideTime = 1.5;

            TweenLite.set($slides.filter(":gt(0)"), {scale: 1, autoAlpha:0});
            TweenLite.delayedCall(stayTime, nextSlide);

            function nextSlide()
            {
                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                TweenLite.to( $slidesTXT.eq(currentSlide), slideTime, {autoAlpha:0} );
                currentSlide = ++currentSlide % $slides.length;

                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
                TweenLite.to( $slidesTXT.eq(currentSlide), slideTime, {autoAlpha:1} );

                $('#homeslider .col-slider a').css('margin-top',$slidesTXT.height());

                TweenLite.delayedCall(stayTime, nextSlide);
            }

        });
    </script>
{% endblock %}