{% extends 'templates/layouts/default-layouts.html.twig' %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
{% endblock %}

{% block content %}
    <section class="product">
        {% if is_mobile %}
            <div class="w100 info-product">
        {% else %}
            <div class="w50 info-product">
        {% endif %}
            <span>
                <h1>{{ product.post_title }}</h1>
                <p>{{ function('do_shortcode',product.post_content) }}</p>
                <p class="label">L’objet photographié est garanti ancien et conforme à la description ci-dessus. Les travaux de restauration sont garantis au minimum pendant 2 ans.</p>

                {% if product.pdf is not empty %}
                    <p>
                        <a href="{{ product.pdf }}" target="_blank">
                            <button class="download-pdf">T&eacute;l&eacute;charger la fiche produit</button>
                        </a>
                    </p>
                {% endif %}

            </span>
        </div>
        <div id="product_slider" class="w50">
            {% if product.gallery is not empty %}
                {% for image in product.gallery %}

                    {% if is_mobile %}
                            <img class="slide" src="{{ image.product_image.url }}" alt="{{ image.product_image.title }}">
                    {% else %}
                        <img class="slide zoooom" src="{{ image.product_image.url }}" alt="{{ image.product_image.title }}">
                    {% endif %}

                {% endfor %}

                <span class="btn-previous"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                <span class="btn-next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>

            {% else %}

                {% if is_mobile %}
                        <img src="{{ image.product_image.url }}" alt="{{ image.product_image.title }}">
                {% else %}
                    <img class="slide zoooom" src="{{ image.product_image.url }}" alt="{{ image.product_image.title }}">
                {% endif %}

                <img class="zoooom" src="{{ product.image_featured_url }}" alt="{{ product.post_title }}">

            {% endif %}
        </div>

        <div class="w25 reference">
            <h2>Références</h2>
            <p><span class="label">Référence</span> {{ product.reference }}</p>
            <p><span class="label">{{ product.entitled_date }}</span> {{ product.age }}{{ product.date }}</p>
            <p><span class="label">Origine</span> {{ product.origine }}</p>
            <p><span class="label">Valeurs</span> {{ product.price }}</p>
        </div>
        <div class="w25">
            <h2>Bois et matériaux</h2>
            <p><span class="label">{{ product.materials }}</span> {{ product.material_value }}</p>
        </div>
        <div class="w25">
            <h2>Dimensions</h2>
            {% if product.height > 0 %}
                <p><span class="label">Hauteur</span> {{ product.height }} {{ product.measuring_unit }}</p>
            {% endif %}
            {% if product.width > 0 %}
                <p><span class="label">Largeur</span> {{ product.width }} {{ product.measuring_unit }}</p>
            {% endif %}
            {% if product.other_size_value > 0 %}
                <p><span class="label">{{ product.other_size }}</span> {{ product.other_size_value }} {{ product.measuring_unit }}</p>
            {% endif %}
            {% if product.size_comment is not empty %}
                <div class="size_comment">
                    <p class="detail label">Détail dimensions</p>
                    <span class="comment">
                        {{ product.size_comment  }}
                    </span>
                </div>
            {% endif %}
        </div>
        <div class="w25">
            <h2>Restauration</h2>
            <p><span class="label">Bois</span> {{ product.restoration_wood }}</p>
            <p><span class="label">Peinture</span> {{ product.restoration_paint }}</p>
        </div>

        <div class="w50 contact">
            <span>
                <h2 class="sub-title-icon">En savoir plus</h2>
                <p>
                    Pour reçevoir des photographies ou informations complémentaires concernant cet objet, n’hésitez pas à nous contacter par notre formulaire.
                </p>
            </span>
        </div>
        <div class="w50 contact">
            {{ function('do_shortcode','[contact-form-7 id="430" title="Contact form product"]') }}
        </div>

        <div class="w100">
            <h2 class="sub-title-other-product">Nous vous proposons aussi</h2>
            <a class="link" href="{{ breadcrumb[1].url }}" alt="showroom">
                Retour au catalogue complet
            </a>
            <aside>
                <section class="products">
                    {% for product in products %}
                        <article>
                            <a href="{{ product.guid }}" title="{{ product.post_title }}">
                                {% if product.image_featured_url is not empty %}
                                    <img class="fancybox-vimeo" src="{{ product.image_featured_url }}" alt="">
                                {% else %}
                                    <img src="{{ options.home }}/wp/wp-content/uploads/2017/05/No-image.png" alt="">
                                {% endif %}
                            </a>
                            <a class="product_title" href="{{ product.guid }}" title="{{ product.post_title }}">
                                {{ product.post_title }}
                            </a>
                            <p><span class="label">DATE</span> {{ product.date }}</p>
                            <p><span class="label">ORIGINE</span> {{ product.origine }}</p>
                            <p class="price">{{ product.price }}</p>
                            <a class="link" href="{{ product.guid }}" title="{{ product.post_title }}">
                                Voir en détail
                            </a>
                        </article>
                    {% endfor %}
                </section>
            </aside>
        </div>

    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){

            //Init
            setProductRefInForm();
            resizeDetailsProduct();

            //Action
            $(window).resize(function(){
                setProductRefInForm();
                resizeDetailsProduct();
            });

            var $slides = $("#product_slider .slide");
            var $slides_zoom = $(".zoomContainer");
            var currentSlide = 0;
            var slideTime = 1;

            TweenLite.set($slides.filter(":gt(0)"), {scale: 1, autoAlpha:0});

            $('.btn-next').click(function(){
                nextSlide();
            });

            $('.btn-previous').click(function(){
                previousSlide();
            });


            function nextSlide()
            {
                TweenLite.to( $slides_zoom.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                currentSlide = ++currentSlide % $slides.length;
                TweenLite.to( $slides_zoom.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
            }

            function previousSlide()
            {
                TweenLite.to( $slides_zoom.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:0} );
                currentSlide = --currentSlide % $slides.length;
                TweenLite.to( $slides_zoom.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
                TweenLite.to( $slides.eq(currentSlide), slideTime, {scale: 1, autoAlpha:1} );
            }

            //Functions
            function resizeDetailsProduct()
            {
                var isMobile = false; //initiate as false
                if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
                    || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;

                if(isMobile == false){
                    var bloc = $('section.product div.w25');
                    bloc.height(bloc.width());
                    var bloc = $('section.product div.w50');
                    bloc.height(bloc.width());
                }else{
                    var bloc = $('section.product div.w25');
                    bloc.height(bloc.width());
                    var bloc = $('section.product div.w50.info-product');
                    bloc.height(bloc.width());
                    var bloc = $('section.product div#product_slider');
                    bloc.height(bloc.width());
                }

            }
            function setProductRefInForm()
            {
                $('#product_reference').val("{{ product.reference }}");
            }

        });
    </script>
{% endblock %}