{% extends 'templates/layouts/showroom-layouts.html.twig' %}

{% block head %}

{% endblock %}

{% block content %}

    <h1>{{ post.post_title }}</h1>

    {{ function('do_shortcode',post.post_content) }}
    <section class="products">
        {% for index, product in products %}
            {% if index < max_index_product_list %}
                <article product-number="{{ index }}" product-id="{{ product.ID }}">
                    <a href="{{ product.guid }}" title="{{ product.post_title }}">
                        {% if product.image_featured_url_medium is not empty %}
                            <img src="{{ product.image_featured_url_medium }}" alt="{{ product.post_title }}">
                        {% else %}
                            <img src="{{ options.home }}/wp/wp-content/uploads/2017/05/No-image.png" alt="">
                        {% endif %}
                    </a>
                    <a class="product_title" href="{{ product.guid }}" title="{{ product.post_title }}">
                        {{ product.post_title }}
                    </a>
                    {% if product.age is empty  %}
                        <p><span class="label">{{ product.entitled_date_label }}</span> {{ product.date }}</p>
                    {% else %}
                        <p><span class="label">{{ product.entitled_date_label }}</span> {{ product.age }} {{ product.date }}</p>
                    {% endif %}
                    <p><span class="label">ORIGINE</span> {{ product.origine }}</p>
                    <p class="price">{{ product.price }}</p>
                    <a class="link" href="{{ product.guid }}" title="{{ product.post_title }}">
                        Voir en détail
                    </a>
                </article>
            {% else %}
                <article class="hidden-products" product-number="{{ index }}" product-id="{{ product.ID }}">
                    <a href="{{ product.guid }}" title="{{ product.post_title }}">
                        {% if product.image_featured_url_medium is not empty %}
                            <img src="{{ product.image_featured_url_medium }}" alt="{{ product.post_title }}">
                        {% else %}
                            <img src="{{ options.home }}/wp/wp-content/uploads/2017/05/No-image.png" alt="">
                        {% endif %}
                    </a>
                    <a class="product_title" href="{{ product.guid }}" title="{{ product.post_title }}">
                        {{ product.post_title }}
                    </a>
                    {% if product.age is empty  %}
                        <p><span class="label">{{ product.entitled_date_label }}</span> {{ product.date }}</p>
                    {% else %}
                        <p><span class="label">{{ product.entitled_date_label }}</span> {{ product.age }} {{ product.date }}</p>
                    {% endif %}
                    <p><span class="label">ORIGINE</span> {{ product.origine }}</p>
                    <p class="price">{{ product.price }}</p>
                    <a class="link" href="{{ product.guid }}" title="{{ product.post_title }}">
                        Voir en détail
                    </a>
                </article>
            {% endif %}
        {% endfor %}
    </section>

    {% if count_product > max_index_product_list %}
        <button class="btn-load-more" onclick="loadMoreProducts()">Voir la suite</button>
    {% else %}
        <button style="visibility: hidden" class="btn-load-more" onclick="loadMoreProducts()">Voir la suite</button>
    {% endif %}

{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){

        });
    </script>
{% endblock %}