@import 'fonts/Abril_Fatface/AbrilFatface.css';
@import 'fonts/Gilda_Display/GildaDisplay.css';
@import 'fonts/Open_Sans/OpenSans.css';
/*
Theme Name: Le Foyer
Theme URI: https://antiquiteslefoyer.ch/themes/lefoyer/
Author: MEO Design & communication
Author URI: https://meomeo.ch/
Description:  Thème Créé par MEO
Text Domain: lefoyer
*/
/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/Fontawesome/fontawesome-webfont.eot?v=4.6.3');
  src: url('fonts/Fontawesome/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('fonts/Fontawesome/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('fonts/Fontawesome/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('fonts/Fontawesome/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('fonts/Fontawesome/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714286em;
}
.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.fa-pull-left {
  float: left;
}
.fa-pull-right {
  float: right;
}
.fa.fa-pull-left {
  margin-right: .3em;
}
.fa.fa-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-2x {
  font-size: 2em;
}
.fa-inverse {
  color: #ffffff;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-feed:before,
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper-pp:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-resistance:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
.fa-buysellads:before {
  content: "\f20d";
}
.fa-connectdevelop:before {
  content: "\f20e";
}
.fa-dashcube:before {
  content: "\f210";
}
.fa-forumbee:before {
  content: "\f211";
}
.fa-leanpub:before {
  content: "\f212";
}
.fa-sellsy:before {
  content: "\f213";
}
.fa-shirtsinbulk:before {
  content: "\f214";
}
.fa-simplybuilt:before {
  content: "\f215";
}
.fa-skyatlas:before {
  content: "\f216";
}
.fa-cart-plus:before {
  content: "\f217";
}
.fa-cart-arrow-down:before {
  content: "\f218";
}
.fa-diamond:before {
  content: "\f219";
}
.fa-ship:before {
  content: "\f21a";
}
.fa-user-secret:before {
  content: "\f21b";
}
.fa-motorcycle:before {
  content: "\f21c";
}
.fa-street-view:before {
  content: "\f21d";
}
.fa-heartbeat:before {
  content: "\f21e";
}
.fa-venus:before {
  content: "\f221";
}
.fa-mars:before {
  content: "\f222";
}
.fa-mercury:before {
  content: "\f223";
}
.fa-intersex:before,
.fa-transgender:before {
  content: "\f224";
}
.fa-transgender-alt:before {
  content: "\f225";
}
.fa-venus-double:before {
  content: "\f226";
}
.fa-mars-double:before {
  content: "\f227";
}
.fa-venus-mars:before {
  content: "\f228";
}
.fa-mars-stroke:before {
  content: "\f229";
}
.fa-mars-stroke-v:before {
  content: "\f22a";
}
.fa-mars-stroke-h:before {
  content: "\f22b";
}
.fa-neuter:before {
  content: "\f22c";
}
.fa-genderless:before {
  content: "\f22d";
}
.fa-facebook-official:before {
  content: "\f230";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-whatsapp:before {
  content: "\f232";
}
.fa-server:before {
  content: "\f233";
}
.fa-user-plus:before {
  content: "\f234";
}
.fa-user-times:before {
  content: "\f235";
}
.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}
.fa-viacoin:before {
  content: "\f237";
}
.fa-train:before {
  content: "\f238";
}
.fa-subway:before {
  content: "\f239";
}
.fa-medium:before {
  content: "\f23a";
}
.fa-yc:before,
.fa-y-combinator:before {
  content: "\f23b";
}
.fa-optin-monster:before {
  content: "\f23c";
}
.fa-opencart:before {
  content: "\f23d";
}
.fa-expeditedssl:before {
  content: "\f23e";
}
.fa-battery-4:before,
.fa-battery-full:before {
  content: "\f240";
}
.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: "\f241";
}
.fa-battery-2:before,
.fa-battery-half:before {
  content: "\f242";
}
.fa-battery-1:before,
.fa-battery-quarter:before {
  content: "\f243";
}
.fa-battery-0:before,
.fa-battery-empty:before {
  content: "\f244";
}
.fa-mouse-pointer:before {
  content: "\f245";
}
.fa-i-cursor:before {
  content: "\f246";
}
.fa-object-group:before {
  content: "\f247";
}
.fa-object-ungroup:before {
  content: "\f248";
}
.fa-sticky-note:before {
  content: "\f249";
}
.fa-sticky-note-o:before {
  content: "\f24a";
}
.fa-cc-jcb:before {
  content: "\f24b";
}
.fa-cc-diners-club:before {
  content: "\f24c";
}
.fa-clone:before {
  content: "\f24d";
}
.fa-balance-scale:before {
  content: "\f24e";
}
.fa-hourglass-o:before {
  content: "\f250";
}
.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: "\f251";
}
.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: "\f252";
}
.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: "\f253";
}
.fa-hourglass:before {
  content: "\f254";
}
.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: "\f255";
}
.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: "\f256";
}
.fa-hand-scissors-o:before {
  content: "\f257";
}
.fa-hand-lizard-o:before {
  content: "\f258";
}
.fa-hand-spock-o:before {
  content: "\f259";
}
.fa-hand-pointer-o:before {
  content: "\f25a";
}
.fa-hand-peace-o:before {
  content: "\f25b";
}
.fa-trademark:before {
  content: "\f25c";
}
.fa-registered:before {
  content: "\f25d";
}
.fa-creative-commons:before {
  content: "\f25e";
}
.fa-gg:before {
  content: "\f260";
}
.fa-gg-circle:before {
  content: "\f261";
}
.fa-tripadvisor:before {
  content: "\f262";
}
.fa-odnoklassniki:before {
  content: "\f263";
}
.fa-odnoklassniki-square:before {
  content: "\f264";
}
.fa-get-pocket:before {
  content: "\f265";
}
.fa-wikipedia-w:before {
  content: "\f266";
}
.fa-safari:before {
  content: "\f267";
}
.fa-chrome:before {
  content: "\f268";
}
.fa-firefox:before {
  content: "\f269";
}
.fa-opera:before {
  content: "\f26a";
}
.fa-internet-explorer:before {
  content: "\f26b";
}
.fa-tv:before,
.fa-television:before {
  content: "\f26c";
}
.fa-contao:before {
  content: "\f26d";
}
.fa-500px:before {
  content: "\f26e";
}
.fa-amazon:before {
  content: "\f270";
}
.fa-calendar-plus-o:before {
  content: "\f271";
}
.fa-calendar-minus-o:before {
  content: "\f272";
}
.fa-calendar-times-o:before {
  content: "\f273";
}
.fa-calendar-check-o:before {
  content: "\f274";
}
.fa-industry:before {
  content: "\f275";
}
.fa-map-pin:before {
  content: "\f276";
}
.fa-map-signs:before {
  content: "\f277";
}
.fa-map-o:before {
  content: "\f278";
}
.fa-map:before {
  content: "\f279";
}
.fa-commenting:before {
  content: "\f27a";
}
.fa-commenting-o:before {
  content: "\f27b";
}
.fa-houzz:before {
  content: "\f27c";
}
.fa-vimeo:before {
  content: "\f27d";
}
.fa-black-tie:before {
  content: "\f27e";
}
.fa-fonticons:before {
  content: "\f280";
}
.fa-reddit-alien:before {
  content: "\f281";
}
.fa-edge:before {
  content: "\f282";
}
.fa-credit-card-alt:before {
  content: "\f283";
}
.fa-codiepie:before {
  content: "\f284";
}
.fa-modx:before {
  content: "\f285";
}
.fa-fort-awesome:before {
  content: "\f286";
}
.fa-usb:before {
  content: "\f287";
}
.fa-product-hunt:before {
  content: "\f288";
}
.fa-mixcloud:before {
  content: "\f289";
}
.fa-scribd:before {
  content: "\f28a";
}
.fa-pause-circle:before {
  content: "\f28b";
}
.fa-pause-circle-o:before {
  content: "\f28c";
}
.fa-stop-circle:before {
  content: "\f28d";
}
.fa-stop-circle-o:before {
  content: "\f28e";
}
.fa-shopping-bag:before {
  content: "\f290";
}
.fa-shopping-basket:before {
  content: "\f291";
}
.fa-hashtag:before {
  content: "\f292";
}
.fa-bluetooth:before {
  content: "\f293";
}
.fa-bluetooth-b:before {
  content: "\f294";
}
.fa-percent:before {
  content: "\f295";
}
.fa-gitlab:before {
  content: "\f296";
}
.fa-wpbeginner:before {
  content: "\f297";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-envira:before {
  content: "\f299";
}
.fa-universal-access:before {
  content: "\f29a";
}
.fa-wheelchair-alt:before {
  content: "\f29b";
}
.fa-question-circle-o:before {
  content: "\f29c";
}
.fa-blind:before {
  content: "\f29d";
}
.fa-audio-description:before {
  content: "\f29e";
}
.fa-volume-control-phone:before {
  content: "\f2a0";
}
.fa-braille:before {
  content: "\f2a1";
}
.fa-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-asl-interpreting:before,
.fa-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-deafness:before,
.fa-hard-of-hearing:before,
.fa-deaf:before {
  content: "\f2a4";
}
.fa-glide:before {
  content: "\f2a5";
}
.fa-glide-g:before {
  content: "\f2a6";
}
.fa-signing:before,
.fa-sign-language:before {
  content: "\f2a7";
}
.fa-low-vision:before {
  content: "\f2a8";
}
.fa-viadeo:before {
  content: "\f2a9";
}
.fa-viadeo-square:before {
  content: "\f2aa";
}
.fa-snapchat:before {
  content: "\f2ab";
}
.fa-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-snapchat-square:before {
  content: "\f2ad";
}
.fa-pied-piper:before {
  content: "\f2ae";
}
.fa-first-order:before {
  content: "\f2b0";
}
.fa-yoast:before {
  content: "\f2b1";
}
.fa-themeisle:before {
  content: "\f2b2";
}
.fa-google-plus-circle:before,
.fa-google-plus-official:before {
  content: "\f2b3";
}
.fa-fa:before,
.fa-font-awesome:before {
  content: "\f2b4";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html {
  margin-top: 0 !important;
}
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
/*
    
    *** FUNCTION LESS *** 
    
    Path: theme/less/utility/functions.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/* Reset Element */
/* Full Screen Element */
/* Create Base Style Title */
/* Vertical Align Element */
/* Vertical Align Element */
/* Create Box Shadow */
/* Create Text Shadow */
/* Create Background Color With Opacity */
/* Gradiant background */
/*
    
    *** MEDIA QUERIES LESS *** 
    
    Path: theme/less/utility/media-queries-responsive.less 
    Created on : 29 sept. 2016, 08:21:57
    Author     : MEO
*/
/****************************************************************
 DEFINE COLOR THEME
 ****************************************************************/
/****************************************************************
 DEFINE GENERAL FONT SIZE
 ****************************************************************/
/****************************************************************
  DEFINE GENERAL SIZE
 ****************************************************************/
/****************************************************************
 FONT AWESOME VARIABLRES
 ****************************************************************/
html,
html body {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  html,
  html body {
    overflow-x: hidden;
  }
}
sup {
  top: -5px;
  font-size: 12px;
  position: relative;
}
#main-content {
  width: 100%;
}
#main-content section {
  width: 96%;
  padding: 0 2% 7rem 2%;
}
#main-content section.grey-bg {
  background-color: #eeeeee;
}
#main-content > section > h1,
#main-content > section > p {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 50%;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content > section > h1,
  #main-content > section > p {
    width: 90%;
  }
}
#main-content > section > p > img {
  width: 100%;
  margin: 2rem 0;
}
#main-content div.parallax {
  width: 100%;
  display: flex;
}
#main-content div.parallax > div {
  flex: auto;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
button {
  width: 30%;
  display: block;
  margin: -6rem auto 7rem auto;
  padding: 0.5rem 2rem;
  color: #cf000f;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
  border: 2px solid #cf000f;
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  button {
    width: 70%;
  }
}
a button.download-pdf {
  width: 45%;
  margin: 3rem auto 7rem auto;
}
.w25 {
  width: calc(21%);
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  .w25 {
    width: calc(46%);
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .w25 {
    width: calc(96%);
  }
}
.w50 {
  width: calc(46%);
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  .w50 {
    width: calc(96%);
  }
}
.w100 {
  width: calc(96%);
}
#scrollTop {
  display: block;
  bottom: 2rem;
  right: 2rem;
  color: #fff;
  background-color: #cf000f;
  padding: 0.8rem 1rem;
  position: fixed;
  opacity: 0.6;
  font-size: 0.8rem;
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 1000;
}
#scrollTop:hover {
  opacity: 0.5;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #slider {
    height: 100%;
  }
}
html,
html body,
a,
p {
  font-family: 'Gilda Display';
  font-size: 18px;
  color: #cf000f;
  text-decoration: none;
}
p {
  margin-bottom: 1rem;
}
a {
  cursor: pointer;
}
h1 {
  font-family: 'Gilda Display';
  font-size: 46px;
  color: #cf000f;
  text-align: center;
  padding-top: 7rem;
}
h1:after {
  position: relative;
  background-image: url("images/small-2_rouge-01.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 30px;
  width: 80px;
  margin: 1.1rem auto 1.5rem auto;
}
h1:after:before {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
h1:after:after {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
h2 {
  font-family: 'Gilda Display';
  font-size: 33px;
  color: #cf000f;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 1.5rem;
  font-weight: 300;
}
h2.sub-title-icon {
  font-weight: normal;
  font-size: 46px;
  padding-bottom: 0;
  padding-top: 0;
}
h2.sub-title-icon:after {
  position: relative;
  background-image: url("images/small-2_rouge-01.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 30px;
  width: 80px;
  margin: 1.1rem auto 1.5rem auto;
}
h2.sub-title-icon:after:before {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
h2.sub-title-icon:after:after {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
h2.sub-title-other-product {
  font-weight: normal;
  font-size: 46px;
  padding-bottom: 7rem;
  padding-top: 1rem;
  margin: 0;
}
h2.sub-title-other-product:after {
  display: none;
}
h2.footer-element {
  margin-top: 0;
  line-height: 10rem;
  font-size: 53px;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  h2.footer-element {
    font-size: 40px;
  }
}
a.link {
  display: block;
  font-family: 'OpenSans Light', sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0.5rem auto 0 auto;
  color: #323233;
}
a.link:after {
  top: 0;
  position: relative;
  display: block;
  width: 1rem;
  margin: 0 auto;
  content: '';
  height: 2px;
  background-color: #323233;
  transition: all 0.2s;
}
a.link:hover:after {
  width: 3rem;
  transition: all 0.3s;
}
.label,
.type-ref,
p.type-ref,
span.label,
p.label,
span.type-ref {
  font-family: 'OpenSans Light';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ref,
p.ref,
span.ref {
  font-family: 'Gilda Display';
  font-size: 12px;
  color: #cf000f;
}
.price,
#main-content .price,
#main-content section.products article p.price {
  font-size: 20px;
  font-family: 'Abril Fatface';
  font-weight: 300;
}
#spacer-nav {
  width: 100%;
  display: block;
  height: 0px;
}
#header-global {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1000;
}
header {
  width: 96%;
  padding: 0.2rem 2%;
  background-color: #cf000f;
  position: relative;
  z-index: 200;
}
header > a {
  display: inline-block;
  max-height: 60px;
}
header > a > img {
  max-height: 60px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > a > img {
    max-height: 40px;
    padding: 5px 0;
  }
}
header > nav {
  width: 70%;
  float: right;
  line-height: 60px;
  display: inline-block;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > nav {
    height: 50px;
  }
}
header > nav > i {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none !important;
  float: right;
  color: #fff;
  font-size: 2rem;
  font-family: FontAwesome;
  cursor: pointer;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > nav > i {
    display: block !important;
  }
}
header > nav > ul {
  width: 100%;
  list-style: none;
  text-align: right;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > nav > ul {
    width: 100%;
    top: 60px;
    right: 0;
    display: none;
    position: absolute;
    background-color: rgba(207, 0, 15, 0.8);
  }
}
header > nav > ul > li {
  display: inline-block;
  text-align: right;
  margin-right: 2rem;
}
header > nav > ul > li:last-child {
  margin-right: 0;
}
header > nav > ul > li:after {
  top: -15px;
  position: relative;
  display: block;
  width: 0;
  content: '';
  height: 2px;
  background-color: #fff;
  transition: all 0.2s;
}
header > nav > ul > li:hover:after {
  width: 2rem;
  transition: all 0.3s;
}
header > nav > ul > li.active:after {
  width: 2rem;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > nav > ul > li {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  header > nav > ul > li:after {
    top: 0;
    position: relative;
    display: block;
    width: 0;
    content: '';
    height: 2px;
    background-color: #fff;
    transition: all 0.2s;
  }
  header > nav > ul > li:hover:after {
    width: 0;
    transition: all 0.3s;
  }
  header > nav > ul > li.active:after {
    width: 0;
  }
  header > nav > ul > li:last-child {
    border-bottom: none;
  }
}
header > nav > ul > li > a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  header > nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: block;
  }
}
div.sub-header {
  display: flex;
  z-index: 500;
  width: 96%;
  background-color: #eeeeee;
  padding: 0 2%;
  border-bottom: 2px solid #fff;
}
div.sub-header .breadcrumb {
  width: 100%;
  list-style: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.sub-header .breadcrumb {
    display: none;
  }
}
.showroom div.sub-header .breadcrumb {
  width: 40%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  .showroom div.sub-header .breadcrumb {
    display: block;
    visibility: hidden;
  }
}
div.sub-header .breadcrumb > li {
  color: #323233;
  display: inline-block;
}
div.sub-header .breadcrumb > li:after {
  content: '/';
  padding: 0 0 0 5px;
  display: inline-block;
}
div.sub-header .breadcrumb > li:last-child {
  font-weight: bold;
}
div.sub-header .breadcrumb > li:last-child:after {
  content: '';
}
div.sub-header .breadcrumb > li > a {
  color: #323233;
  font-family: 'OpenSans Regular', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 2rem;
}
div.sub-header > .product-categories {
  right: 0;
  min-width: 30%;
  position: absolute;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  div.sub-header > .product-categories {
    min-width: 60%;
  }
}
div.sub-header > .product-categories > span {
  display: block;
  float: right;
  width: 90%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.sub-header > .product-categories > span {
    width: 100%;
    float: none;
  }
}
div.sub-header > .product-categories > span > span {
  display: inline-block;
  font-family: 'OpenSans Light';
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.sub-header > .product-categories > span > span {
    display: none;
  }
}
div.sub-header > .product-categories > span > select {
  min-width: 55%;
  max-width: 70%;
  display: inline-block;
  border: none;
  color: #cf000f;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  font-size: 14px;
  background-color: transparent;
  border-bottom: 1px solid #cf000f;
  font-family: 'Gilda Display', Serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 3;
}
div.sub-header > .product-categories > span > select::-ms-expand {
  display: none;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.sub-header > .product-categories > span > select {
    max-width: 95%;
  }
}
div.sub-header > .product-categories > span > select:focus,
div.sub-header > .product-categories > span > select:hover {
  box-shadow: none;
  border: none;
  outline: none;
}
div.sub-header > .product-categories > span > select > option {
  padding: 5px 10px;
  box-shadow: none;
  border: none;
}
div.sub-header > .product-categories > span > i {
  right: 20px;
  z-index: 2;
  position: relative;
  font-size: 11px;
  color: #cf000f;
}
#event,
#favorite,
#coordinated {
  display: flex;
  width: 100%;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #event,
  #favorite,
  #coordinated {
    flex-wrap: wrap;
  }
}
#event > div,
#favorite > div,
#coordinated > div {
  width: 50%;
  padding: 0 2%;
  background-color: #eeeeee;
}
#event > div:last-child section,
#favorite > div:last-child section,
#coordinated > div:last-child section {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 90%;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #event > div:last-child section,
  #favorite > div:last-child section,
  #coordinated > div:last-child section {
    top: 0;
    transform: none;
  }
}
#event > div:last-child h2,
#favorite > div:last-child h2,
#coordinated > div:last-child h2,
#event > div:last-child p,
#favorite > div:last-child p,
#coordinated > div:last-child p {
  text-align: center;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #event > div,
  #favorite > div,
  #coordinated > div {
    width: 100%;
    max-width: 100%;
  }
  #event > div:last-child,
  #favorite > div:last-child,
  #coordinated > div:last-child {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
html body #coordinated > div:last-child > section {
  height: auto !important;
}
#coordinated > div > section h2.footer-element {
  margin-top: 0;
}
#favorite > div > section:before {
  top: -15px;
  left: 48%;
  margin: 0 auto;
  content: '';
  background: #cf000f url('images/small_noir_transparent-01.svg') no-repeat;
  background-position: center;
  display: block;
  width: 50px;
  height: 30px;
  position: absolute;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #favorite > div > section:before {
    left: 46%;
  }
}
#event > div > section:before {
  top: -15px;
  left: 50%;
  content: '';
  background: #cf000f url('images/small_noir_transparent-02.svg') no-repeat;
  background-position: center;
  display: block;
  width: 50px;
  height: 30px;
  position: absolute;
  transform: scale(-50%);
}
#coordinated > div:last-child section {
  border: none;
}
#event > div:first-child,
#favorite > div:first-child {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#event > div:last-child,
#favorite > div:last-child {
  background-color: #cf000f;
}
#event > div:last-child h2,
#favorite > div:last-child h2,
#event > div:last-child p,
#favorite > div:last-child p {
  color: #fff;
  text-align: center;
}
#event > div:first-child,
#coordinated > div:first-child {
  order: 2;
  background-size: cover;
}
#event > div:last-child,
#coordinated > div:last-child {
  order: 1;
}
#favorite > div > section > p,
#event > div > section > p {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
}
#favorite > div > section > p.title,
#event > div > section > p.title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #favorite > div > section > p.title,
  #event > div > section > p.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
#favorite > div > section > p.description,
#event > div > section > p.description {
  font-size: 1rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #favorite > div > section > p.description,
  #event > div > section > p.description {
    margin-bottom: 0.8rem;
  }
}
#favorite > div > section > p.price {
  font-family: 'Abril Fatface';
  font-size: 1rem;
  font-weight: bold;
}
#favorite > div > section > p.price > span-label {
  font-family: 'OpenSans Light', sans-serif;
}
#event > div > section > p.date {
  font-size: 1rem;
  font-weight: bold;
}
#favorite > div > section > p.price > span.label,
#event > div > section > p.date > span.label {
  font-weight: 300;
}
#favorite > div > section > a,
#event > div > section > a {
  color: #fff;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 3rem;
}
#favorite > div > section > a:after,
#event > div > section > a:after {
  top: 0;
  position: relative;
  display: block;
  width: 1rem;
  margin: 0 auto;
  content: '';
  height: 2px;
  background-color: #ffffff;
  transition: all 0.2s;
}
#favorite > div > section > a:hover:after,
#event > div > section > a:hover:after {
  width: 3rem;
  transition: all 0.3s;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #favorite > div > section > a,
  #event > div > section > a {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    position: static !important;
  }
}
#coordinated h2 {
  margin-top: 12rem;
  line-height: 3rem;
}
#coordinated h2:after {
  position: relative;
  background-image: url("images/small-2_rouge-01.svg");
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 30px;
  width: 80px;
  margin: 1.1rem auto 1.5rem auto;
}
#coordinated h2:after:before {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
#coordinated h2:after:after {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background-color: #cf000f;
}
footer {
  background-color: #cf000f;
}
html body footer,
html body footer p,
html body footer span,
html body footer a {
  color: #fff;
}
footer > div {
  width: 96%;
  padding: 0 2%;
  display: block;
  color: #fff;
}
footer > div:first-child {
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
footer > div:last-child,
footer > div:last-child a {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-family: 'OpenSans Light', sans-serif;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
footer > div:last-child a {
  background-color: transparent;
}
footer > div > div > p.label {
  margin-bottom: 1rem;
}
footer > div > div > p {
  font-size: 12px;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  footer > div > div > p {
    text-align: center;
  }
}
footer > div > div > ul,
footer > div > div > ul > li,
footer > div > div > ul > li > a {
  font-size: 14px;
  list-style: none;
  line-height: 1.2rem;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  footer > div > div > ul,
  footer > div > div > ul > li,
  footer > div > div > ul > li > a {
    text-align: center;
  }
}
footer > div > div > ul > li > a:hover {
  color: rgba(0, 0, 0, 0.5);
}
footer > div:first-child > div {
  flex: auto;
  width: 20%;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  footer > div:first-child > div {
    width: 100%;
  }
}
footer > div:first-child > div > img {
  display: block;
  width: 15%;
  max-width: 15%;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  footer > div:first-child > div > img {
    width: 10%;
    max-width: 10%;
    text-align: center;
    margin: 0 auto 10px auto;
  }
}
footer .logo-txt {
  color: #fff;
  font-size: 2rem;
  line-height: 2rem;
}
footer .logo-txt > span {
  font-size: 0.7rem;
  line-height: 0.7rem;
  display: block;
}
footer > div > div > ul > li > a > .fa {
  font-size: 1.2rem;
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  footer > div > div > ul {
    margin-bottom: 1rem;
  }
  footer > div > div .fa {
    font-size: 2rem;
  }
}
#homeslider {
  width: 100%;
  height: 70%;
  position: relative;
  background-color: #eeeeee;
}
#homeslider .col-slider {
  z-index: 100;
  position: absolute;
  width: 30%;
  height: 100%;
  color: #fff;
  padding: 0 2%;
  background-color: rgba(207, 0, 15, 0.8);
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #homeslider .col-slider {
    display: none;
  }
}
#homeslider .col-slider .logo-txt {
  color: #fff;
  font-size: 3rem;
  line-height: 3rem;
  margin-bottom: 40%;
}
#homeslider .col-slider .logo-txt > span {
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}
#homeslider .col-slider section {
  position: relative;
  margin-bottom: 2%;
  /*height: 40%;
    overflow: hidden;*/
}
#homeslider .col-slider .slideTXT {
  top: -50px;
  left: 0;
  opacity: 0;
  color: #fff;
  position: absolute;
  font-size: 2.5rem;
  line-height: 3rem;
}
#homeslider .col-slider .slideTXT:first-child {
  opacity: 1;
}
#homeslider .col-slider .slideTXT p {
  color: #fff;
  font-size: 2.5rem;
}
#homeslider .col-slider .slideTXT a {
  font-family: 'OpenSans Light', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
#homeslider .col-slider .slideTXT a:after {
  top: 0px;
  position: relative;
  display: block;
  width: 2rem;
  content: '';
  height: 2px;
  background-color: #fff;
  transition: all 0.2s;
}
#homeslider .col-slider .slideTXT a:hover:after {
  width: 3rem;
  transition: all 0.3s;
}
#homeslider .col-slider .slideTXT a.active:after {
  width: 3rem;
}
#homeslider > div.slide {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#slider {
  width: 100%;
  height: 50%;
  position: relative;
  background-color: #eeeeee;
}
#slider > div.slide_page {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}
#main-content section.content.homepage {
  background-color: #eeeeee;
  padding-bottom: 7rem;
  text-align: center;
}
#main-content section.content.homepage h1,
#main-content section.content.homepage p {
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 700px;
}
#main-content section.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 7rem;
}
#main-content section.products article {
  width: 15%;
  max-width: 15%;
  flex: auto;
  margin: 0 2% 3rem 2%;
  padding: 1rem 3%;
  background-color: #eeeeee;
}
#main-content section.products article:hover img {
  opacity: 0.8;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  #main-content section.products article {
    width: 40%;
    max-width: 40%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.products article {
    width: 96%;
    max-width: 96%;
  }
}
#main-content section.products article img {
  width: 100%;
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
#main-content section.products article a.product_title {
  display: block;
  height: 4.8rem;
  max-height: 4.8rem;
  font-size: 20px !important;
  line-height: calc(23px) !important;
}
#main-content section.products article a.link {
  margin: 3rem 0 1rem 0;
}
#main-content section.products article p {
  font-family: 'Gilda Display', Serif;
  font-size: 14px !important;
}
#main-content section.products article.hidden-products {
  display: none;
}
#main-content section.products article p.price {
  font-size: 24px !important;
}
#main-content section.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
}
#main-content section.product > div {
  flex: auto;
  padding: 2%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.product > div {
    width: 100%;
  }
}
#main-content section.product > div.info-product {
  display: flex;
  align-items: center;
}
@media only screen and (min-width : 737px) and (max-width : 1280px) {
  #main-content section.product > div.info-product span {
    transform: translateY(10%) !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.product > div.info-product span h1 {
    font-size: 35px !important;
    padding-top: 20px;
  }
}
#main-content section.product > div > span > h1,
#main-content section.product > div > h2 {
  padding: 0;
}
#main-content section.product > div > span > p {
  width: 90%;
  margin: 0 auto 1.5rem auto;
  display: block;
  text-align: center;
}
#main-content section.product > div > h2 {
  padding-top: 22%;
  padding-bottom: 4%;
  font-weight: 300;
}
#main-content section.product > div > h2:after {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  background: transparent url('images/small_meo20170504-02.svg') no-repeat;
  background-size: 15px;
  margin: 0 auto;
  margin-top: 4%;
}
#main-content section.product > div > p {
  text-align: center;
  margin-bottom: 0.4rem;
}
#main-content section.product > div.reference {
  background-color: #cf000f;
}
#main-content section.product > div.reference > h2,
#main-content section.product > div.reference > p,
#main-content section.product > div.reference > span {
  color: #fff;
  text-align: center;
}
#main-content section.product > div.reference > h2:after {
  display: none;
}
#main-content section.product > div.reference > p:last-child {
  font-weight: bold;
}
#main-content section.product > div.reference > p:last-child .label {
  font-weight: 300;
}
#main-content section.product > div#product_slider {
  background-color: rgba(238, 238, 238, 0.4);
  position: relative;
}
#main-content section.product > div#product_slider > img {
  top: 0;
  left: 4%;
  width: 94%;
  height: 100%;
  display: block;
  position: absolute;
}
#main-content section.product > div#product_slider > span.btn-next {
  right: 2rem;
}
#main-content section.product > div#product_slider > span.btn-previous {
  left: 2rem;
}
#main-content section.product > div#product_slider > span.btn-next,
#main-content section.product > div#product_slider > span.btn-previous {
  z-index: 1100;
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#main-content section.product > div .size_comment {
  position: relative;
}
#main-content section.product > div .size_comment:hover span.comment {
  display: block;
}
#main-content section.product > div .size_comment > p {
  text-align: center;
  cursor: pointer;
  padding-top: 10px;
  text-decoration: underline;
}
#main-content section.product > div .size_comment > span.comment {
  top: 1.5rem;
  right: 0;
  width: 250px;
  display: none;
  position: absolute;
  text-align: left;
  background-color: #fff;
  border: 1px solid #eeeeee;
  padding: 15px 10px 0 10px;
}
#main-content section.product > div img {
  width: 100%;
}
#main-content section.product > div > span {
  display: block;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.product > div > span {
    top: 0;
    transform: none;
  }
}
#main-content section.product > div.contact > span {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.product > div.contact > span {
    top: 0;
    transform: none;
  }
}
#main-content section.product > div.w100 > h2.sub-title-other-product {
  margin: 0;
  padding: 0;
  padding-top: 7rem;
}
#main-content section.product > div.w100 > h2.sub-title-other-product:after {
  display: none;
}
#main-content section.product > div.w100 > aside > section.products {
  padding-top: 3rem;
}
#main-content section.product > div.contact {
  background-color: #eeeeee;
}
#main-content section.product > div.contact p {
  width: 50%;
  margin: 0 auto;
  display: block;
  max-width: 700px;
  text-align: center;
}
#main-content section.product > div.contact > .wpcf7 {
  width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  #main-content section.product > div.contact > .wpcf7 {
    top: 0;
    transform: none;
  }
}
@media only screen and (min-width : 737px) and (max-width : 1280px), only screen and (min-width: 320px) and (max-width: 736px) {
  /*#main-content section.product > div.w50:first-child > span
  {
    top: 0;
    transform: none;
  }*/
  #main-content section.product > div.contact {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-content section.product > div.contact > span {
    top: 0;
    transform: none;
  }
}
div.wpcf7 {
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
  width: 50%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  div.wpcf7 {
    width: 90%;
  }
}
form.wpcf7-form {
  display: block;
  width: 100%;
}
form.wpcf7-form > div.group-input-end {
  width: 100%;
  padding: 10px 0;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
}
form.wpcf7-form > div.group-input {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 2px solid #cf000f;
}
form.wpcf7-form > div.group-input > label {
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
  display: inline-block;
  width: 15%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  form.wpcf7-form > div.group-input > label {
    width: 25%;
  }
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
  position: absolute;
  right: 0;
  top: 0;
}
form.wpcf7-form > div.group-input.text-area > span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
  top: -1rem;
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap {
  display: inline-block;
  width: 85%;
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
  form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap {
    width: 75%;
  }
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap.message {
  width: 100%;
}
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap > input,
form.wpcf7-form > div.group-input > span.wpcf7-form-control-wrap > textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
  color: #cf000f;
}
form.wpcf7-form > div.group-input-end > input {
  float: right;
  padding: 0.5rem 2rem;
  color: #cf000f;
  text-transform: uppercase;
  background-color: transparent;
  font-family: 'OpenSans Regular', sans-serif;
  font-size: 12px;
  border: 2px solid #cf000f;
  cursor: pointer;
}
form.wpcf7-form .wpcf7-response-output {
  margin: 2rem 0 0 0;
}
div.wpcf7-mail-sent-ok {
  color: #398f14;
}
div.wpcf7-validation-errors {
  border: 2px solid #cf000f;
}
span.wpcf7-not-valid-tip {
  color: #cf000f;
}
section.icon-title > h2:before {
  content: '';
  display: block;
  height: 70px;
  margin: 0 auto 20px;
  width: 132px;
}
section.icon-01 > h2:before {
  background: transparent url('images/comment_acheter_01.svg') no-repeat;
}
section.icon-02 > h2:before {
  background: transparent url('images/comment_acheter_02.svg') no-repeat;
}
section.icon-03 > h2:before {
  background: transparent url('images/comment_acheter_03.svg') no-repeat;
}
section.icon-04 > h2:before {
  background: transparent url('images/comment_acheter_04.svg') no-repeat;
}
section.icon-05 > h2:before {
  background: transparent url('images/comment_acheter_05.svg') no-repeat;
}
section.icon-06 > h2:before {
  background: transparent url('images/comment_acheter_06.svg') no-repeat;
}
