<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">

        <title>{{ meta_title }} | {{ options.blogname }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="keywords" content="{{ meta_keywords }}">

        <meta name="author" content="{{ autor_website }}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{{ template_path_uri }}/js/jquery-3.2.0.min.js"></script>
        <script type="text/javascript">
            $ = jQuery.noConflict();
        </script>
        <!-- HEADER WORDPRESS START -->
        {{function('wp_head')}}
        <!-- HEADER WORDPRESS END -->
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="{{ template_path_uri }}/style.css" type="text/css"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101533379-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>

        {% include 'templates/partials/header.html.twig' %}

        {% if home == true %}
            {% include 'templates/partials/homeslider.html.twig' %}
        {% endif %}

        <div id="main-content">
            {% block content %}{% endblock %}
        </div>

        {% include 'templates/partials/footer.html.twig' %}

        {% block script %}{% endblock %}

        <div id="scrollTop">
            <i class="fa fa-chevron-up"></i>
        </div>

    </body>
</html>