
{% if show_favorite %}
    <section id="favorite">
        <div style="background-image: url('{{ favorite_product.image_featured_url }}');"></div>
        <div>
            <section>
                <h2 class="footer-element">Coup de coeur</h2>
                <p class="title">{{ favorite_product.post_title }}</p>
                <p class="description">{{ favorite_product.post_content }}</p>
                <p><span class="label">DATE</span> {{ favorite_product.date }}</p>
                <p><span class="label">ORIGINE</span> {{ favorite_product.origine }}</p>
                <p class="price">{{ favorite_product.price }}</p>
                <a class="link" href="{{ favorite_product.guid }}" title="Voir les détail de l'événement">
                    En savoir plus
                </a>
            </section>
        </div>
    </section>
{% endif %}

{% if show_event %}
    <section id="event">
        <div style="background-image: url('{{ event_post.image_featured_url }}');"></div>
        <div>
            <section>
                <h2 class="footer-element">Evénement</h2>
                <p class="title">{{ event_post.post_title }}</p>
                <span class="description">{{ event_post.txt_intro }}</span>
                <p><span class="label">LIEU</span> {{ event_post.event_place }}</p>
                {%  if event_post.event_date_end is empty %}
                    <p class="date"><span class="label">DATE</span> {{ event_post.event_date }}</p>
                {% else %}
                    <p class="date"><span class="label">DATE</span> {{ event_post.event_date }} au {{ event_post.event_date_end }}</p>
                {% endif %}
                <a class="link" href="{{ event_post.guid }}" title="Voir les détail de l'événement">
                    En savoir plus
                </a>
            </section>
        </div>
    </section>
{% endif %}

<section id="coordinated">
    <div id="map"></div>
    <div>
        <section>
            <h2 class="footer-element">Où nous trouver</h2>
            <p>
                {{ infos.shop_name }}
                <br/>
                {{ infos.shop_address }}
                <br/>
                CH-{{ infos.shop_zip }} {{ infos.shop_city }}
                <br/><br/>
            </p>
            {{ infos.shop_schedule }}
        </section>
    </div>
</section>

<footer>
    <div>
        <div>
            <img src="{{ template_path_uri }}/images/logo_LE_FOYER.png" alt="{{ options.blogname }}" />
            <p class="logo-txt">
                LE FOYER
                <span>Antiquités et Art Populaire</span>
            </p>
        </div>
        <div>
            <p class="label">Nous contacter</p>
            <p>
                <span class="label">Téléphone</span> {{ infos.shop_telephone }}
                <br/>
                <span class="label">Mobile</span> {{ infos.shop_mobile }}
                <br/>
                <span class="label">Fax</span> {{ infos.shop_fax }}
                <br/>
                <span class="label">Email</span> {{ infos.shop_email }}
            </p>
        </div>
        <div>
            <p class="label">Produits</p>
            <ul>
                {% for menu in menus_products_page %}
                    <li>
                        <a href="{{ menu.url }}">
                            {{ menu.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <p class="label">Le foyer</p>
            <ul>
                {% for menu in menus_foyer %}
                    <li>
                        <a href="{{ menu.url }}">
                            {{ menu.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <p class="label">Suivez-nous</p>
            <ul>
                <li>
                    <a target="_blank" href="{{ infos.shop_url_facebook }}" title="Notre page facebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        {{ infos.shop_name }} copyright &copy; {{ year }} - by <a target="_blank" href="http://www.meomeo.ch/" title="Design & code by MEO">M|E|O desgin & communication</a>
    </div>
</footer>

<script>
    function initMap() {
        var styles = [
            {
                featureType: 'landscape.natural',
                elementType: 'all',
                stylers: [
                    { hue: '#f5f3f1' },
                    { saturation: 2 },
                    { lightness: 6 },
                    { visibility: 'simplified' }
                ]
            },{
                featureType: 'landscape',
                elementType: 'geometry',
                stylers: [
                    { hue: '#f5f3f1' },
                    { saturation: -38 },
                    { lightness: 57 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'water',
                elementType: 'geometry',
                stylers: [
                    { hue: '#cac1b6' },
                    { saturation: -65 },
                    { lightness: -1 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'road',
                elementType: 'geometry',
                stylers: [
                    { hue: '#cac1b6' },
                    { saturation: -84 },
                    { lightness: 31 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'road',
                elementType: 'labels',
                stylers: [
                    { hue: '#ffffff' },
                    { saturation: -100 },
                    { lightness: 100 },
                    { visibility: 'off' }
                ]
            },{
                featureType: 'poi',
                elementType: 'all',
                stylers: [
                    { hue: '#ffffff' },
                    { saturation: -100 },
                    { lightness: 100 },
                    { visibility: 'off' }
                ]
            },{
                featureType: 'poi',
                elementType: 'all',
                stylers: [
                    { hue: '#ffffff' },
                    { saturation: -100 },
                    { lightness: 100 },
                    { visibility: 'off' }
                ]
            },{
                featureType: 'administrative',
                elementType: 'all',
                stylers: [
                    { hue: '#998873' },
                    { saturation: 16 },
                    { lightness: 3 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'road.local',
                elementType: 'all',
                stylers: [
                    { hue: '#cac1b6' },
                    { saturation: -84 },
                    { lightness: -25 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'road.local',
                elementType: 'geometry',
                stylers: [
                    { hue: '#ffffff' },
                    { saturation: -100 },
                    { lightness: 100 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'water',
                elementType: 'geometry',
                stylers: [
                    { hue: '#ff00ff' },
                    { saturation: 100 },
                    { lightness: -34 },
                    { visibility: 'off' }
                ]
            },{
                featureType: 'transit',
                elementType: 'all',
                stylers: [
                    { hue: '#ff00ff' },
                    { saturation: 100 },
                    { lightness: -33 },
                    { visibility: 'off' }
                ]
            },{
                featureType: 'administrative.province',
                elementType: 'all',
                stylers: [
                    { hue: '#998873' },
                    { saturation: 16 },
                    { lightness: 3 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'landscape.man_made',
                elementType: 'all',
                stylers: [
                    { hue: '#ffffff' },
                    { saturation: -100 },
                    { lightness: 100 },
                    { visibility: 'on' }
                ]
            },{
                featureType: 'road.local',
                elementType: 'labels',
                stylers: [
                    { hue: '#656664' },
                    { saturation: -99 },
                    { lightness: -60 },
                    { visibility: 'simplified' }
                ]
            },{
                featureType: 'water',
                elementType: 'all',
                stylers: [
                    { hue: '#eef3fb' },
                    { saturation: 31 },
                    { lightness: 83 },
                    { visibility: 'on' }
                ]
            }
        ];
        var uluru = {lat: 46.482485, lng: 7.183696};
        var icons = {
            Lefoyer: {
                icon: '{{ template_path_uri }}/images/map.png'
            }
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            scrollwheel: false,
            navigationControl: false,
            mapTypeControl: false,
            scaleControl: false,
            draggable: false,
            mapTypeControlOptions: {
                mapTypeIds: [ 'Styled']
            },
            zoom: 15,
            center: uluru,
            mapTypeId: 'Styled'
        });
        var marker = new google.maps.Marker({
            position: uluru,
            icon: icons['Lefoyer'].icon,
            map: map
        });
        var styledMapType = new google.maps.StyledMapType(styles, { name: 'Styled' });
        map.mapTypes.set('Styled', styledMapType);
    }
</script>
<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api }}&callback=initMap">
</script>
{{ function('wp_footer') }}
<script type="text/javascript">
    $(document).ready(function() {
        var heightNav = $('#header-global').height();
        $('#spacer-nav').height(heightNav);
        console.log(heightNav);
    });
    $(function(){

        resizeBlocFooter();

        $(window).resize(function () {
            resizeBlocFooter();
        });

        $('header nav i.fa-bars').click(function(){
            var nav = $('header nav ul');
            nav.toggle('fast');
        });

        $('#scrollTop').click(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 'slow');
        });

        function resizeBlocFooter()
        {
            var isMobile = false; //initiate as false
            if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
                || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) isMobile = true;

            if( isMobile == false ) {

                $('#favorite div').height($('#favorite div').width());
                $('#event div').height($('#event div').width());
                $('#coordinated div').height($('#coordinated div').width());

                if($(window).width() >= 1630) {
                    var lineHeight = ((($('#favorite div').width() * 2) / 100) * 20);
                }else if($(window).width() >= 1320) {
                    var lineHeight = ((($('#favorite div').width() * 2) / 100) * 20) - 80;
                }else{
                    var lineHeight = ((($('#favorite div').width() * 2) / 100) * 20) - 120;
                }
                $('#favorite div h2').css('line-height',lineHeight+'px');
                $('#event div h2').css('line-height',lineHeight+'px');
            }else{

                $('#favorite div:first-child').height($('#favorite div').width());
                $('#event div:first-child').height($('#event div').width());
                $('#coordinated div:first-child').height($('#coordinated div').width());

            }
        }
    });
</script>

