<div id="header-global">
    <header>
        <a href="{{ options.home }}">
            <img src="{{ template_path_uri }}/images/logo_LE_FOYER.png" alt="{{ options.blogname }}" />
        </a>
        {% include 'templates/partials/navigations.html.twig' %}
    </header>
    {% if home == false %}
        <div class="sub-header">
            {% include 'templates/partials/breadcrumb.html.twig' %}
            {% if showroom == true %}
                {% include 'templates/partials/product_categories.html.twig' %}
            {% endif %}
        </div>
    {% endif %}
</div>
<div id="spacer-nav"></div>
