<section id="homeslider">

    <div class="col-slider">
        <p class="logo-txt">
            LE FOYER
            <span>Antiquités et Art Populaire</span>
        </p>

        <section>
            {% for slide in home_slider %}
                <div class="slideTXT">
                    {{ slide.text }}
                    <a class="" href="{{ options.home }}/showroom/" title="">
                        Découvrez notre showroom
                    </a>
                </div>
            {% endfor %}
        </section>

    </div>

    {% for slide in home_slider %}
        <div class="slide" style="background-image: url('{{ slide.image.url }}'); background-position: {{ slide.align_horizontal }} {{ slide.align_vertical }}" ></div>
    {% endfor %}

</section>