<nav>
    <i class="fa fa-bars"></i>
    <ul>
        {% for menu in menus %}
            {% set active = (menu.object_id == post.ID) ? 'active' : '' %}
            <li class="{{ active }}">
                <a href="{{ menu.url }}">
                    {{ menu.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>