<div class="product-categories">
    <span>
        <span>trier par catégorie</span>
        <select id="product-categories" onchange="changeSelect(this)">
            <option value="0">Tous les produits ({{ all_products_count.publish }})</option>
            {% for term in terms %}
                {% if term.term_id == current_term %}
                    <option value="{{ term.term_id }}-{{ term.slug }}" selected="selected">{{ term.name }}<span> ({{ term.count }})</span></option>
                {% else %}
                    <option value="{{ term.term_id }}-{{ term.slug }}">{{ term.name }}<span> ({{ term.count }})</span></option>
                {% endif %}
            {% endfor %}
        </select>
        <i class="fa fa-chevron-down"></i>
    </span>
</div>